.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100svh - 60px);
  padding: 10px;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;

  &.enabled {
    display: flex;
    & ~ * {
      filter: blur(2px);
    }
  }

  & > div {
    background: var(--color-button-hover);
    max-width: 400px;
    padding: 10px;
  }
}
