.dialog__content {
  & .site {
    display: flex;
    justify-content: center;

    & button {
      background: var(--color-back1);
      border: none;
      width: 50px;
      height: 40px;
      font-size: 10px;
      margin: 0 3px;
      color: var(--color-text);
      background: var(--color-back1);
      & span {
        display: inline-block;
      }
    }
  }
}
