.dialog__content {
  & > .favoriteP {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    & > button {
      height: 24px;
    }
    // レスポンシブMENUで使用
    & input[type="number"] {
      text-align: center;
      border: none;
      background: var(--color-back1);
      color: var(--color-text);
      width: 50px;
    }

    & span {
      font-size: 12px;
      @media screen and (max-width: 467px) {
        display: none;
      }
    }
  }

  & > .favorite {
    width: 100%;
    max-height: 200px;
    overflow: scroll;
    & p {
      font-size: 14px;
    }
    & button {
      padding: 8px;
      height: 30px;
    }
  }
  & > .no {
    display: flex;

    // & .left {
    //   // .dialog__content .no .left
    // }
    & .right {
      flex: 1;
      max-width: 150px;
      & label {
        font-size: 12px;
        padding: 10px 10px;
        white-space: nowrap;
        border-radius: 4px;
      }
      // .dialog__content .no .right
    }
    // .dialog__content .no
  }
}
