// これだけは異種、dialog(ｺﾝﾃﾅ)を持たない
.dialog__message {
  position: fixed;
  bottom: 60px;
  right: 0;
  width: 300px;
  overflow: hidden;
  z-index: 1;
  & > div {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px;
    background: var(--color-button);
    transform: translateY(120%);
    animation: dialog__message_p 7s forwards;
    position: relative;
    &.disabled {
      display: none;
    }
    @keyframes dialog__message_p {
      0% {
        transform: translateY(120%);
      }
      5% {
        transform: translateY(0);
      }
      95% {
        transform: translateY(0);
        position: initial;
      }

      100% {
        transform: translateY(120%);
        position: absolute;
        bottom: 0;
      }
    }
    & p {
      flex: 1;
    }
    & span {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 20px;
      background: var(--color-button-hover);
      cursor: pointer;
    }
  }
}
