// 背景
.dialog {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: calc(100svh - 60px);
  background: rgba(var(--foreground-rgb), 0.1);
  z-index: 1;

  // 非表示
  &.disabled {
    display: none !important;
  }

  // 中身
  &__content {
    position: absolute;
    bottom: 10px;
    background: var(--color-back0);
    padding: 20px;
    border-radius: 5px;
  }

  // 画像は反転
  & img {
    filter: var(--opac-invert);
  }

  // 共通で入るLabelに対するCSS paddingは後づけ
  & label {
    background: var(--color-back1);
    margin: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  // こっちも今のところ共通 非表示だけどアクセシビリティは考慮する的な
  & input[type="radio"],
  & input[type="checkbox"] {
    /* 透明度0 */
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    /* ブラウザのデフォルトのスタイルを削除 */
    -webkit-appearance: none;
    appearance: none;
    /* レイアウトから無視 */
    position: fixed;
    &:focus-visible {
      & + label {
        background: var(--color-button);
      }
    }
    &:checked {
      & + label {
        background: var(--color-button);
      }
    }
  }
  & button {
    text-align: center;
    border: none;
    height: 100%;
    margin: 3px 3px;
    background: var(--color-back1);
    color: var(--color-text);
  }

  & textarea {
    width: 100%;
    color: var(--color-text);
    background: var(--color-back1);
  }

  // セクションにはPaddingが入ります
  & section {
    padding: 3px;
  }
}
