:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-back0: #eee;
  --color-back1: #fff;
  --color-theme: #45c7ff;
  --color-text: #000;
  --color-title: #fff;
  --color-gray: rgb(159, 206, 213);
  --color-panel-main__btnListItem: linear-gradient(#ecf9ff, #e7ebff);
  --color-button: #ecf9ff;
  --color-button-hover: #ceefff;
  --opac-img: 100%;
  --opac-invert: none;
}

// ダークモードの動作
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-back0: #111;
    --color-back1: #222;
    --color-theme: #17465a;
    --color-text: #ddd;
    --color-title: #ddd;
    --color-gray: rgb(43, 76, 81);
    --color-panel-main__btnListItem: linear-gradient(#29343c, #292c3c);
    --color-button: #2e4f62;
    --color-button-hover: #33383c;
    --opac-img: 80%;
    --opac-invert: invert(1);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  opacity: var(--opac-img);
}

body {
  color: var(--color-text);
  background: var(--color-back0);
}
