iframe {
  border: none;
}
.single {
  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    padding: 3px;

    &__left {
      min-width: 54px;
      height: 54px;
      background: var(--color-back1);
      border: none;

      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        position: relative;
        width: 70%;
        height: 2px;
        background: var(--color-text);
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background: var(--color-text);
        }
        &::before {
          top: -10px;
        }
        &::after {
          top: 10px;
        }
        // single__footer__left span
      }
      // single__footer__left
    }
    &__right {
      overflow-x: scroll;
      overflow-y: hidden;
      flex: 1;
      &__button {
        &Container {
          height: 54px;
          display: flex;
          align-items: center;
        }
        padding: 0 3px;
        text-align: center;
        display: flex;
        flex-flow: column;
        & button {
          min-width: 42px;
          width: 100%;
          background: var(--color-back1);
          border: none;
          font-size: 16px;
          height: 42px;
          color: var(--color-text);
          & span {
            display: inline-block;
          }
        }
        & > span {
          display: inline-block;
          font-size: 10px;
          line-height: 12px;
          white-space: nowrap;
        }
      }
    }
    // single__footer
  }
}
