.main {
  background: var(--color-back1);
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  font-size: 18px;
  & section {
    padding: 20px 0;
    & > * {
      padding-bottom: 8px;
    }
  }

  & p {
    line-height: 170%;
  }

  & > h2 {
    font-size: 34px;
    line-height: 60px;
    padding-left: 10px;
    border-left: 10px solid rgb(124, 124, 255);
    background: var(--color-button);
  }
  &__image {
    text-align: center;
    & img {
      max-width: 100%;
      width: 300px;
      height: 200px;
      object-fit: cover;
      margin: 10px;
    }
  }

  & ul {
    padding-left: 40px;
    & li {
      line-height: 170%;
    }
  }
  &__title {
    padding: 40px 0;
    text-align: center;
    & h1 {
      font-size: 46px;
      line-height: 60px;
    }
    &__date {
      font-size: 14px;
      color: gray;
    }
    &__git {
      display: inline-flex;
      align-items: center;
      background: var(--color-back0);
      border-radius: 4px;
      margin: 12px;
      overflow: hidden;
      border: 2px solid var(--color-back0);
      & img {
        padding: 2px;
        margin-right: 4px;
        background: var(--color-title);
      }
      & a {
        font-size: 14px;
        color: var(--color-text);
        &:hover {
          background: var(--color-button);
        }
      }
    }
  }

  &__error {
    color: red;
  }
  &__btnList {
    display: flex;
    flex-wrap: wrap;
    & > div {
      min-width: 215px;
      flex: 1;
      margin: 10px;
      & > div {
        padding: 10px;
        border-radius: 20px;
        background: var(--color-panel-main__btnListItem);
        & h2 {
          font-size: 34px;
          text-align: center;
        }
        & > p {
          height: 120px;
        }
      }

      & > a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: calc(100% - 20px);
        color: var(--color-text);
        font-size: 18px;
        font-weight: bold;
        line-height: 56px;
        background: var(--color-button);

        position: relative;
        z-index: 1;
        overflow: hidden;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 600%;
          background: var(--color-button-hover);
          transform: scale(0);
          transition: 0.3s;
          border-radius: 50%;
          z-index: -1;
        }
        &:hover {
          &::after {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}

.singleWindow {
  &Container {
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      top: 10px;
      right: 15%;
      content: 'タブレット表示';
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-weight: bold;
    }
    &::after {
      position: absolute;
      top: 10px;
      right: 40%;
      content: 'スマホ表示';
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      z-index: -1;
      font-weight: bold;
    }
  }
}

.multiWindow {
  height: 200px;
  width: calc(100% - 40px);
  margin: 20px;
  position: relative;
  & > div {
    position: absolute;
    width: 100%;
    transform-origin: top left;
    transform: scale(0.5) translateY(0);
  }
  &__1 {
    animation: multiWindowAnimation 2s infinite;
    top: -20px;
    left: -10px;
    z-index: 10;
  }
  &__2 {
    animation: multiWindowAnimation 2s infinite 0.2s;
    top: -20px;
    right: -50%;
  }
  &__3 {
    animation: multiWindowAnimation 2s infinite 0.4s;
    z-index: 10;
    top: 81px;
    left: -10px;
  }
  &__4 {
    animation: multiWindowAnimation 2s infinite 0.6s;
    top: 81px;
    right: -50%;
  }

  @keyframes multiWindowAnimation {
    0% {
      transform: scale(0.5) translateY(0);
    }
    25% {
      transform: scale(0.5) translateY(10px);
    }
    50% {
      transform: scale(0.5) translateY(0);
    }
    100% {
      transform: scale(0.5) translateY(0);
    }
  }
}
