// 背景
.dialog {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: calc(100svh - 60px);
  background: rgba(var(--foreground-rgb), 0.1);
  z-index: 1;

  // 非表示
  &.disabled {
    display: none !important;
  }

  // 中身
  &__content {
    position: absolute;
    bottom: 10px;
    background: var(--color-back0);
    padding: 20px;
    border-radius: 5px;
  }
}
